body {
    margin: 0;
    background-color: #FAFAFA;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#container {
    width: 600px;
    margin: 0 auto;
    background: #1B244A;
    display: flex;
    justify-content: space-around;
    padding: 70px;
}

.bulletin-title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}

.bulletin-score {
    width: 160px;
    background-color: black;
    font-family: Cursed Timer ULiL, sans-serif;
    font-weight: 400;
    font-size: 90px;
    color: #F94F6D;
    margin-bottom: 26px;
    padding: 20px 10px;
}

.bulletin-points {
    display: flex;
    justify-content: space-between;
}

.bulletin-points-point {
    font-family: Cursed Timer ULiL, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    color: #9AABD8;
    background: #1B244A;
    border: 2px solid #9AABD8
}

.new-game {
    align-self: center;
    font-size: 20px;
    padding: 10px;
    color: #9AABD8;
    background: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}
